<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1570608225746-6dd315e5dda3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2484&q=80);">
  <div class="container">
    <h1>Pandabize</h1>
    <p>Your favorite bike shop, now online!</p>
  </div>
</div>


<div class="container">
  <div class="d-flex justify-content-center my-5">
    <%= link_to "add bikes", new_bike_path, class: "btn btn-success" %>
  </div>

  <% @bikes.each do |bike| %>
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <h5><%= link_to bike.name, bike %></h5>
        <p><%= link_to "customize this bike", bike %></p>
      </div>
    </div>
  <% end %>
</div>


